/* Definición de los colores principales usando variables CSS */
:root {
    --color-bg: linear-gradient(135deg, #103765, #00CFFD); /* Fondo en degradado con tonos oscuros */
    --color-text: #ffffff; /* Color de texto blanco */
    --color-accent: #ffffff; /* Color de acento blanco */
    --color-card-bg: #3e0d0d; /* Fondo oscuro para las tarjetas */
    --color-card-hover: linear-gradient(135deg, #06E9BC, #e94df7); /* Color para el fondo de las tarjetas cuando el cursor está sobre ellas */
}

/* Estilo para el cuerpo de la página */
body {
    font-size: 16px; /* Tamaño de fuente base */
    font-family: 'Georgia', serif; /* Fuente serif 'Georgia' para el texto */
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #F5F5F5, #F5F5F5); /* Fondo en degradado */
    color: var(--color-text); /* Asigna el color de texto blanco */
}

/* Habilita el desplazamiento suave al hacer clic en los enlaces del menú */
html {
    scroll-behavior: smooth; /* Habilita desplazamiento suave */
    scroll-padding-top: 30px; /* Ajusta el espacio superior al hacer scroll (tamaño del encabezado) */
}

/* Estilo para el enlace en el título (h1) */
h1 a {
    color: white; /* Color blanco para el enlace */
    text-decoration: none;
    font-size: 35px; /* Tamaño de la fuente para el enlace */
}

/* Estilo para el encabezado */
* {
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño total de los elementos */
}

header {
    background: var(--color-bg); /* Fondo con el color de acento */
    padding: 0 20px;
    display: flex;
    align-items: center; /* Centra los elementos verticalmente */
    position: fixed; /* Hace que el encabezado esté fijo */
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 4px 2px -2px gray; /* Opcional: agrega una sombra */
    border-bottom: 3px solid rgb(255, 255, 255); /* Línea al final del encabezado */
}

/* Contenedor del logo */
.logo-container {
    margin-right: auto;
}

/* Estilo para el logo */
header .logo {
    width: 180px;
    height: 110px;
}

/* Estilo para el menú de navegación */
header nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
    flex-grow: 1;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

header nav ul li a {
    font-size: 28px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f39c12; /* Color de acento cuando pasas el mouse */
}

/* Estilo para las tarjetas de servicios */
.service-card {
    background: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.service-card:hover {
    transform: translateY(-10px);
    background: var(--color-card-hover);
}

/* Sección de servicios */
#services {
    padding: 120px 20px;
    text-align: center;
}

/* Grid para las tarjetas de servicio */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* Estilo para el título de servicios */
#services h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #0A2342;
    margin-bottom: 20px;
}

/* Títulos de las tarjetas de servicio */
#services h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #0A2342;
    margin-bottom: 10px;
    text-align: center;
}

/* Texto de las tarjetas de servicio */
#services p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #0A2342;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para las palabras animadas */
.animated-section {
    background-color: var(--color-bg);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.animated-word {
    opacity: 0;
    transform: translateY(160px);
    transition: opacity 1.5s ease-out, transform 0.9s ease-out;
    text-align: center;
    margin: 20px 0;
    background: linear-gradient(45deg, #0A2342, #0A2342);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 2em;
}

.word-large {
    font-size: 4rem;
}

.word-small {
    font-size: 1rem;
}

.animated-word.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Estilo para las tarjetas de proyectos */
.dashboard-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.dashboard-card {
    flex: 1;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 3px;
    background: linear-gradient(to bottom, #103765, #059bbd9d);
}

.dashboard-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-card img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dashboard-card h3 {
    font-size: 1.9em;
    margin: 10px 0;
    font-weight: bold;
}

.dashboard-card p {
    font-size: 1.3em;
    color: #ffffff;
    margin: 20px;
    font-weight: bold;
}

/* Estilo para el fondo del video */
#video-background {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

#video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--color-text);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.video-overlay h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.video-overlay p {
    font-size: 1.5rem;
}

/* Estilo para el pie de página */
footer {
    position: relative;
    background-color: #0A2342;
    padding: 9px;
    text-align: center;
    color: #ffffff;
}

/* Botones de WhatsApp */
footer a:hover {
    text-decoration: underline;
}

.social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-button img {
    width: 35px;
    height: 35px;
    border-radius: 20%;
    transition: transform 0.3s;
}

.social-button img:hover {
    transform: scale(1.1);
}

.bold-text {
    font-weight: bold;
    color: #0A2342;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

/* Media queries para vista móvil */
@media (max-width: 768px) {
    header nav {
        padding-left: 50px;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    header nav ul li {
        font-size: 20px;
    }

    .service-card {
        padding: 15px;
    }

    .services-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .dashboard-grid {
        flex-direction: column;
        gap: 20px;
    }

    .dashboard-card {
        width: 100%;
    }

    .social-buttons {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {
    h1 a {
        font-size: 28px;
    }

    header .logo {
        width: 150px;
        height: 90px;
    }

    .animated-word {
        font-size: 1.5em;
    }

    .bold-text {
        font-size: 30px;
    }
}
